!!!
html(lang='en')
	head
		title= title+' | John Fonte'
		link(href='css/bootstrap.min.css',rel='stylesheet')
		script(type='text/javascript',src='js/jquery.min.js')
		script(type='text/javascript',src='js/bootstrap.min.js')
	body
		nav(class='navbar navbar-inverse navbar-fixed-top',role='navigation')
			div(class='container')
				div(class='navbar-header')
					button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#collapsible')
						span(class='sr-only') Toggle navigation
						span(class='icon-bar')
						span(class='icon-bar')
						span(class='icon-bar')
					a(class='navbar-brand', href='/') John Fonte
				div(class='collapse navbar-collapse', id='collapsible')
					ul(class='nav navbar-nav')
						li(class=title=='Home'?'active':undefined)
							a(href='/') Home
						li(class=title=='Programming'?'active':undefined)
							a(href='/programming') Programming
						li(class=title=='Technology'?'active':undefined)
							a(href='/technology') Technology
						li(class=title=='Gaming'?'active':undefined)
							a(href='/gaming') Gaming
						li(class=title=='Ultimate'?'active':undefined)
							a(href='/ultimate') Ultimate
		div(class='container',style='margin-top:50px')
			h1.
				#{title}
			block content
